<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to the rugby analytics app
  </h1>
</div>
<div *ngIf="this.teams">
  <app-status [hostingTeam]="this.teams.hostingTeam" [visitingTeam]="this.teams.visitingTeam"></app-status>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <app-start (teamsForGame)="this.gameStartedHandler($event)"></app-start>
  </div>
  <div class="col-md-4">
    <app-stop></app-stop>
  </div>
</div>

