mkdocs==1.0.4
mkdocs-markdownextradata-plugin==0.1.1
mkdocs-material==4.5.0
mkdocs-minify-plugin==0.2.1
mkdocs-monorepo-plugin==0.4.2
pygments==2.4.2
markdown-include==0.5.1
git+https://github.com/simonrenger/markdown-include-lines.git@master#egg=markdown-include-lines
Markdown==3.1