.start_status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2em;
}

.stop_0 {
  float: left;
  text-align: center;
}

.stop_200 {
  float: left;
  text-align: center;
  background-color:  #c63a2a;
  border-radius: 0.3em;
  align-items: center;
  justify-content: center;
  border: none;
  color: #fff;
  margin: 2em;
}


.stop_500 {
  float: left;
  text-align: center;
  background-color: #e74c3c;
  border-radius: 0.3em;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 2em;
}
